
.input-invalid {
    background-color: #f7cfcf;
}

#report-dialog .form-group {
    margin-right: 0px;
}

button[name="contributors[0][user-delete]"] {
    visibility: hidden;
}

/* Navigation */

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-brand > img {
    display: inline !important;
}

.scpper-navbar {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center; 
    align-content: flex-start; 
    align-items: flex-start;    
}

.scpper-navbar-text {
    color: #999;
}

.scpper-navbar-search {
    flex-basis: 160px;
    flex-grow: 1; 
    flex-shrink: 2;
    max-width: 300px;
    margin-top: 8px;
}

.navbar-toggle {
    margin-left: 15px;
}

.navbar-collapse {
    flex-basis: 675px;
}

div.container a.brand {
    background: url("../img/logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

@media (max-width: 997px) {
  .navbar-collapse {
    order: 4;        
  }    
}

@media (max-width: 767px) {
  .navbar-header-name {
    display: none;
  }    
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
}

/* Tables (common) */

.btn-table {
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.per-page-block {
    margin-left: 25px;
    display: inline-block;
    flex-grow: 0; 
    flex-shrink: 0;
}

.per-page-block label {
    font-weight: normal;
}

.per-page-block select {
    margin-left: 5px;
    padding: 0px;
}

.form-control.per-page-control {
    width: auto;
    display: inline-block;    
}
.authors {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.authors>.author {
    display: flex;
    flex-flow: row nowrap;    
}

.table-navigation {
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: center; 
    padding-top: 5px; 
    margin-bottom: 15px;
}

.table-pagination {
    margin: 0px; 
    flex-grow: 0; 
    flex-shrink: 0;
}

.table-pagination-input {
    float: left; 
    position: relative; 
    min-width: 34px; 
    width: auto; 
    margin-right: 1px; 
    border-radius: 0px; 
    padding: 0px; 
}

.pagination-hidden-xs {
    display: inline !important;
}

.pagination-hidden-sm {
    display: inline !important;
}

.pagination>li>span.disabled {
    color: #333;
}


@media (max-width: 767px) {
    .pagination-hidden-sm {
        display: none !important;
    }    
}

@media (max-width: 530px) {
    .per-page-block {
        margin-left: 15px;
    }    
}

@media (max-width: 500px) {
    .pagination-hidden-xs {
        display: none !important;
    }    
}

@media (max-width: 450px) {
    .per-page-block label  {
        display: none !important;
    }    
}

/* Responsive tables */

.responsive-table {
    display: flex; 
    flex-flow: column nowrap;
    margin-bottom: 10px;
}

.responsive-table-row {
    display: flex;
    flex-flow: row nowrap;    
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;    
}

.responsive-table-cell {    
    display: flex;    
    flex-flow: column nowrap; 
    justify-content: center; 
    flex: auto 1 1;            
    text-overflow: clip;
    overflow: hidden;    
}

.responsive-table-column-name, .responsive-table-cell-data{
    padding: 8px;
    line-height: 1.4285;
    vertical-align: top;
    border-right: 1px solid #dddddd;    
}

.responsive-table-column-name {
    align-items: center;
}

.responsive-table>.responsive-table-row:last-of-type{
    border-bottom: 1px solid #dddddd;
}

.responsive-table>.responsive-table-row:nth-child(odd){
    background-color: #f9f9f9;
}

.responsive-table-column-name {        
    display: flex;
    flex-direction: row;
    flex-grow: 1;    
    font-weight: bold;
    text-overflow: clip;
    overflow-x: hidden;
}

.responsive-table-column-name.can-order {
    cursor: pointer;
}

.responsive-table-group-name {
    border-bottom: 1px solid #dddddd;
    justify-content: center;
}

.responsive-table-column-group {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
}

.responsive-table-value {
    
}

.responsive-table-value-default {    
}

.responsive-table-value-collapsed {
    display: none;
}

.responsive-table-value .glyphicon {
    color: gray;
}

hr.table-cell-inner {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: -10px;
}

.collapsed-text-hint {
    font-size: 80%;
    font-weight: bold;
}

.column-index {
    min-width: 50px;
}

/* Basic tables */

.table {
    margin-bottom: 10px;
}

.table-striped>tbody>tr>th {
    background-color: #f9f9f9;    
}

.table-striped>tbody>tr>th[colspan] {
    text-align: center;
}

.table-striped>tbody>tr>th[rowspan] {
    vertical-align: middle;
}

.table-striped>tbody>tr>th,.table-striped>tbody>tr>td {         
    border: 1px solid #ddd;
}

th.column-page {
    width: 350px;
}

th.column-users {
    min-width: 150px;
}

th.column-index {
    min-width: 25px;
}

th.column-date {
    min-width: 90px;
}

th.column-date-time {
    min-width: 140px;
}

table.table-sortable > tbody > tr > th.can-order {
    cursor: pointer;
}

/* General */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 4em;
  margin-top: 60px; 
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 4em;
  width: 100%;
  margin: auto;
}

footer > hr {
    margin-bottom: 5px;
}

.text-condensed {
    letter-spacing: -2px;
}

.text-bold {
    font-weight: bold;
}

.small-text {
    font-size: smaller;
    color: #AAAAAA;
}

.small-text > a {
    color: #AAAAAA;
    text-decoration: underline;
}

.top-buffer-small {
    margin-top: 10px;
}

.top-buffer { 
    margin-top:30px; 
}

.bottom-buffer { 
    margin-bottom:30px; 
}

hr {
    margin-top: 0px;
    border-color: #dddddd;
}

.background-green {
    background-color: #E5F5DF;
}

.background-blue {
    background-color: #d9edf7;
}

.background-red {
    background-color: #f2dede;
}

.background-orange {
    background-color: #F7E3CD;
}

img.rating-image {
    height: 20px;
    width: 20px;
    display: block;
    float: left;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 100px;
}


/* Index */

.tile, .tile-main{    
    border: 1px solid #ddd;
    border-radius:4px;
    /*padding: 0px;*/
    -moz-border-radius: 4px;
    cursor: pointer;     
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
    height: 150px;
}

.tile-main {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f1d7+0,ede2a3+100 */
    background: #FAF7D7; /* Old browsers */
}

.tile-1 {
    padding-left: 0px; 
    padding-right: 12px;
}
.tile-2 {
    padding-left: 12px; 
    padding-right: 0px;
}
.tile-row {
    margin-top: 25px;
}

.tile-main h1,
.tile-main h2 {
    margin: 0px;
}

.tile h1,
.tile h2 {
    margin: 10px;
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center; 
    align-content: center;
}

span.tile-whitespace {
    padding-left: 0.15em; 
    padding-right: 0.15em;
}

@media (max-width: 450px) {
    .tile h2 {        
        flex-flow: column nowrap;
    }
    
    span.tile-whitespace {
        display: none;
    }        
}
@media (max-width: 767px) {
    .tile-details {
        display: none;
    }
    .tile {        
        height: 80px;
    }    
    .tile-1, .tile-2 {
        padding-left: 0px;
        padding-right: 0px;        
    }
    .tile-2 {
        margin-top: 10px;
    }
    .tile-row {
        margin-top: 10px;
    }
    .tile-main h1 {
        font-size: 30px;
    }
    .tile h2 {
        font-size: 24px;        
    }    
}

.tile:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);    
}

.tile-main:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f3b6+0,ede2a3+100 */
    background: #f9f3b6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f3b6 0%, #ede2a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f9f3b6 0%,#ede2a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f9f3b6 0%,#ede2a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f3b6', endColorstr='#ede2a3',GradientType=0 ); /* IE6-9 */    
}

.tile.background-green:hover {
    background-color: #CAEBBE;
}

.tile.background-blue:hover {
    background-color: #BFE1F2;
}

.tile.background-red:hover {
    background-color: #E8C8C8;
}

.tile.background-orange:hover {
    background-color: #F0D4B6;
}

.tile-patreon {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-top: 20px; 
    padding: 10px;
}

#patreon-button {
    display: flex; 
    justify-content: center;
}

#patreon-button-content {
    background-color: #F96854; 
    border: 2px solid #F96854; 
    color: #FFFFFF; 
    font-size: 0.8090234857849197rem; 
    font-weight: 700; 
    text-transform: uppercase; 
    text-decoration: none; 
    cursor: pointer; 
    width: 178px; 
    font-size: 1pc; 
    padding-top: 5px; 
    padding-bottom: 5px
}

/* Activity */

.activity-tabs-row {
    display: flex;
    flex-flow: row nowrap;
}

.activity-tabs-stack {
    display: flex;
    flex-flow: column nowrap;    
}

.activity-tab {
    flex: auto 1 1;
    text-align: center;
    font-size: larger;
}

.activity-tabs-stack > .activity-tab {
    display: none;
}

.activity-tab-users.active {
    background-color: #E5F5DF;
}

@media (min-width: 768px) {
    .activity-tab-users:hover {
        background-color: #E5F5DF;
    }
}

.activity-tab-pages.active, .activity-tab-pages:hover {
    background-color: #d9edf7;
}

.activity-tab-revisions.active, .activity-tab-revisions:hover {
    background-color: #f2dede;
}

.activity-tab-votes.active, .activity-tab-votes:hover {
    background-color: #F7E3CD;
}

.activity-tab>a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;    
    line-height: 20px;
    display: block;    
    border: 1px solid #ddd;
    color: #333;
    width: 100%;
}

.activity-tab>a:hover, .activity-tab>a:active, .activity-tab>a:focus {
    text-decoration: none;
}

.activity-tab > a > .glyphicon-menu-up {
    display: none;
}

.activity-tab > a > .glyphicon-menu-down {
    display: initial;
}

.activity-tab.active > a > .glyphicon-menu-up {
    display: initial;
}

.activity-tab.active > a > .glyphicon-menu-down {
    display: none;
}

.activity-data {
    display: flex; 
    flex-flow: column nowrap;
}

.activity-data.collapse {
    display: none;
}

@media (max-width: 767px) {
    .activity-tabs-row> .activity-tab {
        display: none;
    }    
    .activity-tabs-stack > .activity-tab {
        display: inherit;
    }
}


.info-box {
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-color: #ddd;     
    border-style: solid; 
    text-align: center;
}
.info-box > h4 {    
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.activity-charts {
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.activity-charts>div {
    flex: 50% 1 1;
}

@media (max-width: 1023px) {
    .activity-charts {
        flex-flow: column nowrap;
    }
}

#date-interval-form {
    width: auto; 
    display: flex; 
    flex-flow: row wrap; 
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#date-interval-inputs {
    display: flex; 
    flex-flow: row wrap;     
    align-items: center;    
}

#date-interval-from,#date-interval-to{
    width: auto;
}

#date-interval-to {
    margin-right: 5px;
}

#date-interval-separator {
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 374px) {
    #date-interval-form {        
        align-items: flex-start;
        flex-flow: column nowrap;
    }
    #date-interval-button {
        margin-top: 5px;
    }    
}

/* Charts */

div.google-visualization-tooltip {
    font-size: 14px;
}

.chart-container, .chart-failed {    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;     
    height: 200px;
}

.chart-container {
    background-image: url("/img/chartstub.png");
}

.chart-loaded {
    background-image: none;
}

.chart-failed {
    background-image: url("/img/chartfail.png");
}

/** Page **/

#page-top {
    display: flex; 
    flex-flow: row nowrap; 
    align-items: flex-start
}

@media (max-width: 767px) {
    #page-top {
        flex-flow: column nowrap;
    }
}

#page-summary {
    align-self: flex-start; 
    /* max-width: 40%; */
}

#page-chart {
    flex: 1; 
    align-self: stretch;
}

#show-report {
    margin-top: 5px; 
    margin-bottom: 5px; 
    padding-bottom: 3px; 
    padding-top: 3px;
}

.page-source {
    width: 100%;
}

/** User **/

#user-top {
    display: flex; 
    flex-flow: row wrap; 
    align-items: flex-start
}

@media (max-width: 767px) {
    #user-top {
        flex-flow: column nowrap;
    }
}

#user-summary {
    align-self: flex-start; 
    width: 200px;
    /* max-width: 40%; */
}

#user-chart {
    flex: 1;     
    align-self: stretch;
}

#favorites {
    margin-bottom: 20px;
}

#favorites-header {
    margin-bottom: 5px;
}

#favorites-content {
    margin-top: 10px;
}

div.favorites-column {
    padding-left: 0px;
}

div.favorites-column-header {
    margin-bottom: 5px;
}

ol.favorites-list {
    padding-left: 30px; 
    margin-bottom: 0px;
}

p.favorites-hidden {
    padding-left: 20px; 
}

div#favorites-button {
    margin-top: 20px;
}

#authorship-summary-toggle:hover {
    cursor: pointer;
}

#authorship-summary-toggle>span.collapse {
    display: inherit;
}

#authorship-summary-toggle>span.in{
    display: none;
}

#authorship-summary-toggle.expanded>span.collapse {
    display: none;
}

#authorship-summary-toggle.expanded>span.in {
    display: inherit;
}

.user-authorship-summary.collapse {
    display: none;
}

.user-authorship-summary.in {
    display: inherited;
}

/** Tags **/

div.search-tag-container {
    vertical-align: middle;
    display: inline;
    margin-right: 10px;
    border-radius: 3px;
    padding: 2px;
}

div.search-tag-container[data-include="1"] {
    background-color: #99cb84;
}

div.search-tag-container[data-include="0"] {
    background-color: #e4b9b9;
}

span.search-tag {    
    cursor: pointer; 
    display: inline;     
}

span.search-tag-status {
    padding-left: 3px;
}

span.search-tag-body {
    padding-left: 5px; 
    padding-right: 5px;
}

span.search-tag-delete {
    padding-right: 3px
}

div.tags-search-form {
    width: 100%; 
    max-width: 600px;
    margin-bottom: 15px;
}

div.tags-search-options {
    margin-top: 10px;
}

div.tags-combine-method {
    display: inline;
}

.tags-search-reset {
    margin-right: 5px;
}

div#search-tags {
    display: inline;
}

/** About **/

#faq > dd {
    margin-bottom: 20px;
}

/** Search **/


ul.search-autocomplete {
    z-index: 1050;
    overflow-y: hidden !important;
}
    /* #E5F5DF*/
.search-item-page {

    color: #1CA6D4 !important;
}
    /* #f2dede*/
.search-item-user {

    color: #64D43B !important;
}

#search-group-main {
    width: 75%; 
    display: inline-table; 
    vertical-align: middle;
}

#search-group-main-button {
    width: 10%;
}

@media (max-width: 767px) {

    .switch-search-sites-caption {
        display: none;
    }
}
 
div.search-options {
    margin-top: 7px;
}

/** Reports **/

select.contributor-role {
    margin-left: 5px;
}

button.contributor-delete {
    margin-left: 10px; 
    vertical-align: baseline;
}

button.contributor-add {
    vertical-align: baseline;
}

button.report-accept {
    margin-right: .4em;
}

div.contributor-role-button {
    display: flex; 
    flex-direction: row;
}

legend.report-legend {
    border-bottom: none; 
    margin-bottom: 0px;
}

div#report-error {
    border: #dca7a7 1.5px solid; 
    padding: 5px; 
    border-radius: 3px;
}

a.report-page {
    background-color: #eee;
    opacity: 1;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;    
}