/* Navigation */

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.scpper-navbar-text {
    color: #999;
}

div.container a.brand {
    background: url("../img/logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/* General */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 4em;
  padding-top: 60px;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 4em;
  width: 100%;
  margin: auto;
}

footer > hr {
    margin-bottom: 5px;
}

.small-text {
    font-size: smaller;
    color: #AAAAAA;
}

.small-text > a {
    color: #AAAAAA;
    text-decoration: underline;
}

.top-buffer { 
    margin-top:30px; 
}

.bottom-buffer { 
    margin-bottom:30px; 
}

hr {
    margin-top: 0px;
    border-color: #dddddd;
}

.table {
    margin-bottom: 10px;
}

table.table-striped > tbody > tr:last-child {
    border-bottom: 1px solid #ddd;
}


th.column-page {
    width: 350px;
}

th.column-users {
    min-width: 150px;
}

th.column-index {
    min-width: 25px;
}

th.column-date {
    min-width: 90px;
}

th.column-date-time {
    min-width: 140px;
}

table.table-sortable > tbody > tr > th.can-order {
    cursor: pointer;
}

.btn-table {
    background-color: #f9f9f9;
}

.text-condensed {
    letter-spacing: -2px;
}

.text-bold {
    font-weight: bold;
}

.pagination {
    margin-top: 5px;
}

.per-page-block {
    margin-left: 25px;
    display: inline-block;
}

.per-page-block label {
    font-weight: normal;
}

.per-page-block select {
    margin-left: 5px;
    padding: 0px;
}

.background-green {
    background-color: #E5F5DF;
}

.background-blue {
    background-color: #d9edf7;
}

.background-red {
    background-color: #f2dede;
}

.background-orange {
    background-color: #F7E3CD;
}

/* Index */

div.tiles {
    display: flex; 
    justify-content: center;
    align-items: center;
}

table.tile-table {
    width: 60%; 
    table-layout: fixed;
    border-spacing: 25px;    
    border-collapse: separate;        
}

td.tile {    
    height: 10em;
    display: table-cell;    
    border: 1px solid #ddd;
    border-radius:4px;
    padding: 0px;
    -moz-border-radius:4px;
    cursor:pointer;
    vertical-align: middle;
}

td.tile:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);    
}

td.tile-header {
    height: 7em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f1d7+0,ede2a3+100 */
    background: #FAF7D7; /* Old browsers */
}

td.tile-header:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f3b6+0,ede2a3+100 */
    background: #f9f3b6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f3b6 0%, #ede2a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f9f3b6 0%,#ede2a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f9f3b6 0%,#ede2a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f3b6', endColorstr='#ede2a3',GradientType=0 ); /* IE6-9 */    
}

.tile.background-green:hover {
    background-color: #CAEBBE;
}

.tile.background-blue:hover {
    background-color: #BFE1F2;
}

.tile.background-red:hover {
    background-color: #E8C8C8;
}

.tile.background-orange:hover {
    background-color: #F0D4B6;
}

/* Changes */

.info-box {
   border-width: 1px; 
   border-color: #aaaaaa; 
   border-radius: 6px; 
   border-style: solid; 
   margin-top: 15px;
}

.info-box > hr {
    border-color: inherit;
    margin: 5px;
}

.info-box > h3 {    
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Charts */

div.google-visualization-tooltip {
    font-size: 14px;
}

.chart-container, .chart-failed {    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;     
    height: 200px;
}

.chart-container {
    background-image: url("/img/chartstub.png");
}

.chart-loaded {
    background-image: none;
}

.chart-failed {
    background-image: url("/img/chartfail.png");
}

/** Page **/

#page-top {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start
}

#page-summary {
    align-self: flex-start; 
    max-width: 40%;
}

#page-chart {
    flex: 1; 
    align-self: stretch;
}

/** User **/

#user-top {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start
}

#user-summary {
    align-self: flex-start; 
    max-width: 40%;
}

#user-chart {
    flex: 1; 
    align-self: stretch;
}

/** About **/

#faq > dd {
    margin-bottom: 20px;
}