/* Navigation */

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.scpper-navbar-text {
    color: #999;
}

div.container a.brand {
    background: url("../img/logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/* General */

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.small-text {
    font-size: smaller;
    color: #AAAAAA;
}

.top-buffer { 
    margin-top:30px; 
}

.bottom-buffer { 
    margin-bottom:30px; 
}

hr {
    margin-top: 0px;
    margin-bottom: 25px;
}

.table {
    margin-bottom: 10px;
}

table.table-striped > tbody > tr:last-child {
    border-bottom: 1px solid #ddd;
}

table > tbody > tr > th:first-child {
    width: 40%;
}

table.table-sortable > tbody > tr > th.can-order {
    cursor: pointer;
}

.btn-table {
    background-color: #f9f9f9;
}

.text-condensed {
    letter-spacing: -2px;
}

.text-bold {
    font-weight: bold;
}

hr {
    border-color: #dddddd;
}

.pagination {
    margin-top: 5px;
}

.per-page-block {
    margin-left: 25px;
    display: inline-block;
}

.per-page-block label {
    font-weight: normal;
}

.per-page-block select {
    margin-left: 5px;
    padding: 0px;
}


/* Index */

div.main-container {
    display: flex; 
    justify-content: center;
}

table.tile-table {
    width: 60%; 
    table-layout: fixed;
    border-spacing: 10px;    
    border-collapse: separate;        
}

table.tile-table td {
    border: 1px solid #ddd;
    border-radius:4px;
    -moz-border-radius:4px;        
    padding: 15px;
}

/* Changes */

.info-box {
   border-width: 1px; 
   border-color: #aaaaaa; 
   border-radius: 6px; 
   border-style: solid; 
   margin-top: 15px;
}

.background-green {
    background-color: #E5F5DF;
}

.background-blue {
    background-color: #d9edf7;
}

.background-red {
    background-color: #f2dede;
}

.background-orange {
    background-color: #F7E3CD;
}

.info-box > hr {
    border-color: inherit;
    margin: 5px;
}

.info-box > h3 {    
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Charts */

div.google-visualization-tooltip {
    font-size: 14px;
}

.chart-container, .chart-failed {    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;     
    height: 200px;
}

.chart-container {
    background-image: url("/img/chartstub.png");
}

.chart-failed {
    background-image: url("/img/chartfail.png");
}

/* Legacy stuff */
/*
.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}
*/